

*{
    margin:0;
    padding:0;
    font-family: '微软雅黑';
}
.class-a{
    background: red;
}
.class-b{
    background: green;
}

/*蒙层*/
.mask-wrap{
    display: none;
    position: fixed;
    z-index: 100;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
}
.login-container{
    position: fixed;
    top: 50%;
    left: 50%;
    width: 500px;
    height: 240px;
    margin-top: -120px;
    margin-left: -250px;
    border: 3px solid #000;
    border-radius: 10px;
    padding: 10px;
    background: #fff7c7;
    box-sizing: border-box;
}
/*电话输入框*/
.phone-wrap .phone-inp{
  width: 80%;
  height: 55px;
  margin: 0 auto;
  margin-bottom: 20px;
  font-size: 20px;
}
/*验证码输入框*/
.code-wrap .code-inp{
    display: inline-block;
    width: 50%;
    height: 55px;
    /*margin: 0 auto;*/
    margin-left: -26px;
    font-size: 20px;
}
/*获取验证码*/
.code-wrap .get-code-wrap{
  margin-left: 40px;
}

.submit-wrap{
    margin-top: 20px;
}