




*{
    padding: 0;
    margin: 0;
    font-family: '微软雅黑';
}
/* Style for our header texts
* --------------------------------------- */
h1{
    font-size: 5em;
    /*font-family: arial,helvetica;*/
    color: #fff;
    margin:0;
    padding:0;
}
img{
    display: block;
}
/* Centered texts in each section
* --------------------------------------- */
.section{
    text-align:center;
}

/* 最外层父容器 */
.foo-wrap{
    /*background-size: cover;*/
    /*background-image: url(images/star-black-bg.png);*/
    /*width: 100%;*/
    /*height: 100%;*/
    /*overflow: hidden;*/
    /*border: 5px solid #f00;*/
    /*box-sizing: border-box;*/
}

body{
    background-image: url(../images/star-black-bg.png);
    background-size: cover;
}
.section{
    background-size: cover;
}
.slide{
    background-size: cover;
}

#section3{
    /*background-image: url(imgs/bg4.jpg);*/
    /*padding: 6% 0 0 0;*/
}
#section3 h1{

}


#slide1{
    /*background-image: url(imgs/bg2.jpg);*/
    /*padding: 6% 0 0 0;*/
}
#slide2{
    /*background-image: url(imgs/bg5.jpg);*/
    /*padding: 6% 0 0 0;*/
}

/*首页-新财富logo页*/
#section0{
    /*background-image: url(imgs/bg1.jpg);*/
    background-image: url(../images/page1-bg.png);
    /*padding: 30% 0 0 0;*/
}
/* 颁奖典礼，重量嘉宾，典礼议程，新财富学院，投研圈，二维码通用背景色 */
#section1,
#section2,
#section3,
#section4,
#section5,
#section6{
    padding:0;
    margin: 0;
    /*background-image: url(imgs/bg3.jpg);*/
    /*background-image: url(../images/star-black-bg.png);*/
    /*padding: 6% 0 0 0;*/
}

/* Bottom menu
* --------------------------------------- */
#infoMenu li a {
    color: #fff;
}

/* 第1页 - 新财富logo */
.sec-page1-wrap{
    padding-top: 15rem;
    /*position: absolute;*/
    /*z-index: 10;*/
    /*width: 100%;*/
    /*top: 0;*/
    /*left: 0;*/
    box-sizing: border-box;
}
/*logo*/
.sec-page1-wrap .xcf-logo{
  display: none;
  width: 60%;
  margin: 0 auto;
  animation: xcfLogoAnimate 1.2s 0.3s backwards;
  -webkit-animation: xcfLogoAnimate 1.2s 0.3s backwards;
}
@keyframes xcfLogoAnimate {
  0%{
      opacity: 0;
      transform: scale(2.1);
  }
  40%{
      transform: scale(0.6);
  }
  70%{
      transform: scale(1.5);
  }
  100%{
      opacity: 1;
      transform: scale(1);
  }
}
@-webkit-keyframes xcfLogoAnimate {
  0%{
      opacity: 0;
      -webkit-transform: scale(2.1);
  }
  40%{
      -webkit-transform: scale(0.6);
  }
  70%{
      -webkit-transform: scale(1.5);
  }
  100%{
      opacity: 1;
      -webkit-transform: scale(1);
  }
}

.sec-page1-wrap .page1-title1{
  display: none;
  width: 85%;
  margin: 0 auto;
  margin-top: 7rem;
  animation: page1Title1Animate 0.6s 0.8s backwards;
  -webkit-animation: page1Title1Animate 0.6s 0.8s backwards;
}
@keyframes page1Title1Animate {
    0%{
        opacity: 0;
        transform: translateX(-50rem);
    }
    100%{
        opacity: 1;
        transform: translateX(0rem);
    }
}
@-webkit-keyframes page1Title1Animate {
    0%{
        opacity: 0;
        -webkit-transform: translateX(-50rem);
    }
    100%{
        opacity: 1;
        -webkit-transform: translateX(0rem);
    }
}

.sec-page1-wrap .page1-title2{
    margin: 0 auto;
    width: 38%;
    margin-top: 6rem;
    animation: page1Title2Animate 0.6s 1.2s backwards;
    -webkit-animation: page1Title2Animate 0.6s 1.2s backwards;
}
@keyframes page1Title2Animate {
    0%{
        opacity: 0;
        transform: translateX(50rem);
    }
    100%{
        opacity: 1;
        transform: translateX(0rem);
    }
}
@-webkit-keyframes page1Title2Animate {
    0%{
        opacity: 0;
        -webkit-transform: translateX(50rem);
    }
    100%{
        opacity: 1;
        -webkit-transform: translateX(0rem);
    }
}

.sec-page1-wrap .page1-title3{
    margin: 0 auto;
    width: 38%;
    margin-top: 5rem;
    animation: page1Title3Animate 0.6s 1.6s backwards;
    -webkit-animation: page1Title3Animate 0.6s 1.6s backwards;
}
@keyframes page1Title3Animate {
    0%{
        opacity: 0;
        transform: scale(0);
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
}
@-webkit-keyframes page1Title3Animate {
    0%{
        opacity: 0;
        -webkit-transform: scale(0);
    }
    100%{
        opacity: 1;
        -webkit-transform: scale(1);
    }
}

/* 第2页 - 新财富logo */
.sec-page2-wrap{
    padding-top: 6rem !important;
    box-sizing: border-box;
    color: #37ecfc;
    /*font-size: ;*/
}
.sec-page2-wrap .page2-title1{
   display: none;
   width: 60%;
   margin: 0 auto;
   animation: page2Title1Animate 0.7s 0.1s backwards;
   -webkit-animation: page2Title1Animate 0.7s 0.1s backwards;
}
@keyframes page2Title1Animate {
  0%{
      opacity: 0;
      transform: rotate(360deg) scale(0);
  }
  100%{
      opacity: 1;
      transform: rotate(0deg) scale(1);
  }
}
@-webkit-keyframes page2Title1Animate {
  0%{
      opacity: 0;
      -webkit-transform: rotate(360deg) scale(0);
  }
  100%{
      opacity: 1;
      -webkit-transform: rotate(0deg) scale(1);
  }
}

.sec-page2-wrap .page2-common-p{
   display: none;
   font-size: 2.7rem;
   margin: 0 auto;
   margin-top: 0.5rem;
   width: 82%;
}
.sec-page2-wrap .page2-common-p:nth-child(odd){
   animation: pAnimateOdd 0.8s 0.5s backwards;
   -webkit-animation: pAnimateOdd 0.8s 0.5s backwards;
}
@keyframes pAnimateOdd {
  0%{
     opacity: 0;
     transform: translateX(-60rem);
  }
  100%{
     opacity: 1;
     transform: translateX(0rem);
  }
}
@-webkit-keyframes pAnimateOdd {
  0%{
     opacity: 0;
     -webkit-transform: translateX(-60rem);
  }
  100%{
     opacity: 1;
     -webkit-transform: translateX(0rem);
  }
}
.sec-page2-wrap .page2-common-p:nth-child(even){
    animation: pAnimateEven 0.8s 0.5s backwards;
    -webkit-animation: pAnimateEven 0.8s 0.5s backwards;
}
@keyframes pAnimateEven {
    0%{
        opacity: 0;
        transform: translateX(60rem);
    }
    100%{
        opacity: 1;
        transform: translateX(0rem);
    }
}
@-webkit-keyframes pAnimateEven {
    0%{
        opacity: 0;
        -webkit-transform: translateX(60rem);
    }
    100%{
        opacity: 1;
        -webkit-transform: translateX(0rem);
    }
}

.sec-page2-wrap .page2-common-p span{
    font-size: 3.5rem;
    color: #f6ee20;
}
.sec-page2-wrap .page2-title3{
   display: none;
   width: 40%;
   margin: 0 auto;
   margin-top: 1.2rem;
   animation: page2Title3Animate 1.2s 0.8s backwards;
   -webkit-animation: page2Title3Animate 1.2s 0.8s backwards;
}
@keyframes page2Title3Animate {
  0%{
    opacity: 0;
    transform: scale(1.8);
  }
  40%{
    transform: scale(0.6);
  }
  80%{
    transform: scale(1.3);
  }
  100%{
    opacity: 1;
    transform: scale(1);
  }
}
@-webkit-keyframes page2Title3Animate {
  0%{
    opacity: 0;
    -webkit-transform: scale(1.8);
  }
  40%{
    -webkit-transform: scale(0.6);
  }
  80%{
    -webkit-transform: scale(1.3);
  }
  100%{
    opacity: 1;
    -webkit-transform: scale(1);
  }
}


/* page3 重磅嘉宾 */
.sec-page3-wrap{
    padding-top: 6rem !important;
    box-sizing: border-box;
    /*color: #37ecfc;*/
}

.sec-page3-wrap .guests-wrap{ /*嘉宾父容器*/
    width: 100%;
    height: 68rem;
    margin: 0 auto;
    margin-top: 6rem;
    /*border: 2px solid #f00;*/
    box-sizing: border-box;
}
/* 滚动海报 */
.swiper-container {
    width: 100%;
    height: 100%;
    /*padding-top: 4rem;*/
    margin: 0 auto;
    text-align: center;
    color: #fff;
    font-size: 1.3rem;
    /*border: 2px solid #000;*/
    box-sizing: border-box;
}
/* 每个子海报大小 */
.swiper-slide {
    display: block;
    width: 60%;
    /*height: 100%;*/
    /*border: 2px solid #ffff00;*/
}
.swiper-slide img{
    width: 100%;
}
.swiper-slide p{
   margin-top: 0.8rem;
    word-spacing: 0.2rem;
}


.sec-page3-wrap .page3-title1{
   /*display: none;*/
   width: 60%;
   margin: 0 auto;
   /*animation: page3Title1Animate 2.0s 0.0s backwards;*/
   /*-webkit-animation: page3Title1Animate 2.0s 0.0s backwards;*/
}
@keyframes page3Title1Animate {
  0%{
      opacity: 0;
      transform: translate(-24rem,-6rem);
  }
  30%{
      transform: translate(-16rem,0rem);
  }
  70%{
      transform: translate(-8rem,-6rem);
  }
  100%{
      opacity: 1;
      transform: translate(0rem,0rem);
  }
}
@-webkit-keyframes page3Title1Animate {
  0%{
      opacity: 0;
      -webkit-transform: translate(-24rem,-6rem);
  }
  30%{
      -webkit-transform: translate(-16rem,0rem);
  }
  70%{
      -webkit-transform: translate(-8rem,-6rem);
  }
  100%{
      opacity: 1;
      -webkit-transform: translate(0rem,0rem);
  }
}

/* page4 颁奖典礼议程 */
.sec-page4-wrap{
    position: relative;
}
.sec-page4-wrap .page4-title1{
  display: none;
  position: absolute;
  width: 80%;
  left: 10%;
  top: 6rem;
  animation: page4TitleAnimate 0.8s 0.1s backwards;
  -webkit-animation: page4TitleAnimate 0.8s 0.1s backwards;
  /*top: 334rem;*/
}
@keyframes page4TitleAnimate {
  0%{
     opacity: 0;
     transform: translateX(30rem);
  }
  100%{
     opacity: 1;
     transform: translateX(0rem);
  }
}
@-webkit-keyframes page4TitleAnimate {
  0%{
     opacity: 0;
     -webkit-transform: translateX(30rem);
  }
  100%{
     opacity: 1;
     -webkit-transform: translateX(0rem);
  }
}
/* 内容内部通用样式 */
.sec-page4-wrap .slide .common-page4-con{
    width: 80%;
    margin: 0 auto;
    margin-top: 18rem;
}
/* content1 注意事项 */
.sec-page4-wrap .slide .page4-content1{
  display: none;
  animation: page4Content1Animate 0.6s 0.0s backwards;
  -webkit-animation: page4Content1Animate 0.6s 0.0s backwards;
  /*animation-iteration-count: 1;*/
  /*-webkit-animation-iteration-count: 1;*/
}
@-webkit-keyframes  page4Content1Animate {
  0%{
      opacity: 0;
      -webkit-transform: translateY(-20rem);
  }
  70%{
        /*-webkit-transform: translateY(-20rem);*/
  }
  100%{
      opacity: 1;
      -webkit-transform: translateY(-0rem);
  }
}

/* page5 新财富学院 */
.sec-page5-wrap{
    padding-top: 6rem !important;
    box-sizing: border-box;
}

.sec-page5-wrap .page5-title1{
    display: none;
    width: 50%;
    margin: 0 auto;
}
.sec-page5-wrap .page5-title2{
    display: none;
    width: 30%;
    margin: 0 auto;
    margin-top: 3rem;
    animation: xinXueyuanAnimateXy 0.8s 0.5s backwards;
    -webkit-animation: xinXueyuanAnimateXy 0.8s 0.5s backwards;
}
.sec-page5-wrap .page5-title3{
    display: none;
    width: 90%;
    margin: 0 auto;
    margin-top: 3rem;
    animation: tingJiangAnimate 1.2s 0.9s backwards;
    -webkit-animation: tingJiangAnimate 1.2s 0.9s backwards;
}
.sec-page5-wrap .xue-yuan-words {   /* 文字说明 */
    display: none;
    width: 86%;
    margin-left: 7%;
    margin-top: 3rem;
    line-height: 5.5rem;
    font-size: 2.7rem;
    word-spacing: 2rem;
    color: #fff;
    text-align: left;
    animation: xinXueyuanWords1 1.2s 1.3s backwards;
    -webkit-animation: xinXueyuanWords1 1.2s 1.3s backwards;
}
@keyframes xinXueyuanWords1 {
    0%{
        opacity: 0;
        transform: translateY(40rem);
    }
    100%{
        opacity: 1;
        transform: translateY(0rem);
    }
}
@-webkit-keyframes xinXueyuanWords1 {
    0%{
        opacity: 0;
        -webkit-transform: translateY(40rem);
    }
    100%{
        opacity: 1;
        -webkit-transform: translateY(0rem);
    }
}

@keyframes tingJiangAnimate {
    0%{
        opacity: 0;
        transform: rotateX(0deg) scale(0);
    }
    50%{
        transform: rotateX(360deg) scale(0.5);
    }
    100%{
        opacity: 1;
        transform: rotateX(00deg) scale(1);
    }
}
@-webkit-keyframes tingJiangAnimate {
    0%{
        opacity: 0;
        -webkit-transform: rotateX(0deg) scale(0);
    }
    50%{
        -webkit-transform: rotateX(360deg) scale(0.5);
    }
    100%{
        opacity: 1;
        -webkit-transform: rotateX(00deg) scale(1);
    }
}

@keyframes xinXueyuanAnimateXy {
    0%{
        opacity: 0;
        transform: scale(0);
        box-shadow: 0 0 2rem #fff;
    }
    40%{
        transform: scale(1.6);
    }
    80%{
        transform: scale(0.6);
    }
    100%{
        opacity: 1;
        transform: scale(1);
        box-shadow: 0 0 0 #000;
    }
}
@-webkit-keyframes xinXueyuanAnimateXy {
    0%{
        opacity: 1;
        -webkit-transform: scale(0);
        box-shadow: 0 0 2rem #fff;
    }
    40%{
        -webkit-transform: scale(1.6);
    }
    80%{
        -webkit-transform: scale(0.6);
    }
    100%{
        opacity: 1;
        -webkit-transform: scale(1);
        box-shadow: 0 0 0 #000;
    }
}

/* page6 投研圈 */
.sec-page6-wrap{
    padding-top: 6rem !important;
    box-sizing: border-box;
}
.sec-page6-wrap .page6-title1{
    display: none;
    width: 50%;
    margin: 0 auto;
}
.sec-page6-wrap .page6-title2{
    display: none;
    width: 50%;
    margin: 0 auto;
    margin-top: 4rem;
    animation: touYanQuanAnimate 0.7s 0.8s backwards;
    -webkit-animation: touYanQuanAnimate 0.7s 0.8s backwards;
}
@keyframes touYanQuanAnimate {
    0%{
        opacity: 0;
        transform: scaleY(0);
    }
    50%{
        transform: scaleY(1.5);
    }
    100%{
        opacity: 1;
        transform: scaleY(1);
    }
}
@-webkit-keyframes touYanQuanAnimate {
    0%{
        opacity: 0;
        -webkit-transform: scaleY(0);
    }
    50%{
        -webkit-transform: scaleY(1.5);
    }
    100%{
        opacity: 1;
        -webkit-transform: scaleY(1);
    }
}

.sec-page6-wrap .page6-title3{
   display: none;
   width: 82%;
   margin: 0 auto;
   margin-top: 4rem;
   animation: touYanQuanWordsAnimate 0.8s 1.2s backwards;
   -webkit-animation: touYanQuanWordsAnimate 0.8s 1.2s backwards;
}
@keyframes touYanQuanWordsAnimate {
    0%{
        opacity: 0;
        transform: scale(0);
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
}
@-webkit-keyframes touYanQuanWordsAnimate {
    0%{
        opacity: 0;
        -webkit-transform: scale(0);
    }
    100%{
        opacity: 1;
        -webkit-transform: scale(1);
    }
}

/* page7 二维码页面 */
.sec-page7-wrap{
   position: relative;
   padding-top: 10rem !important;
   box-sizing: border-box;
}
.sec-page7-wrap .page7-title1{
   display: none;
   position: absolute;
   width: 60%;
   left: 20%;
   top: 12rem;
    /*border: 2px solid #f00;*/
   animation: arCodeAnimate 0.7s 0.2s backwards;
   -webkit-animation: arCodeAnimate 0.7s 0.2s backwards;
}
@keyframes arCodeAnimate {
    0%{
        opacity: 0;
        transform: translateY(-30rem);
    }
    100%{
        opacity: 1;
        transform: translateY(0rem);
    }
}
@-webkit-keyframes arCodeAnimate {
    0%{
        opacity: 0;
        -webkit-transform: translateY(-30rem);
    }
    100%{
        opacity: 1;
        -webkit-transform: translateY(0rem);
    }
}

/* 闪烁的星星动画 */
.stars-wrap{
    display: none;
    position: fixed;
    top: 30rem;
    left: 30rem;
}
/* 划过的流星 */
.fly-star{
    display: none;
    position: absolute;
    top: 10rem;
    left: 10rem;
}
.fly-star:nth-child(1){
    animation: commonStarAnimate 3.8s 0.1s backwards;
    -webkit-animation: commonStarAnimate 3.8s 0.1s backwards;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
}
.fly-star:nth-child(2){
    animation: commonStarAnimate 2.4s 0.2s backwards;
    -webkit-animation: commonStarAnimate 2.4s 0.2s backwards;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
}
.fly-star:nth-child(3){
    animation: commonStarAnimate 4.2s 0.5s backwards;
    -webkit-animation: commonStarAnimate 4.2s 0.5s backwards;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
}
.fly-star:nth-child(4){
    animation: commonStarAnimate 6.2s 0.3s backwards;
    -webkit-animation: commonStarAnimate 6.2s 0.3s backwards;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
}.
fly-star:nth-child(5){
    animation: commonStarAnimate 2.7s 0.8s backwards;
    -webkit-animation: commonStarAnimate 2.7s 0.8s backwards;
     animation-iteration-count: infinite;
     -webkit-animation-iteration-count: infinite;
}
.fly-star:nth-child(6){
    animation: commonStarAnimate 1.8s 0.8s backwards;
    -webkit-animation: commonStarAnimate 1.8s 0.8s backwards;
     animation-iteration-count: infinite;
     -webkit-animation-iteration-count: infinite;
}
.fly-star:nth-child(7){
    animation: commonStarAnimate 5.5s 0.8s backwards;
    -webkit-animation: commonStarAnimate 5.5s 0.8s backwards;
     animation-iteration-count: infinite;
     -webkit-animation-iteration-count: infinite;
}

@keyframes commonStarAnimate {
    0%{
       opacity: 1;
       transform: translate(0,0);
    }
    100%{
        opacity: 0;
        transform: translate(-80rem,20rem);
    }
}
@-webkit-keyframes commonStarAnimate {
    0%{
       opacity: 1;
       -webkit-transform: translate(0,0);
    }
    100%{
        opacity: 0;
        -webkit-transform: translate(-80rem,20rem);
    }
}
/* 小圆星 */
.circle-star{
    display: block;
    position: absolute;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    -webkit-transform: scale(5);
    top: 10rem;
    left: 10rem;
}

.js_circle_star0{
    top: -18rem;
    left: 7rem;
    animation: circleStarAnimate 4.5s 0.3s backwards;
    -webkit-animation: circleStarAnimate 4.5s 0.3s backwards;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
}
.js_circle_star1{
    top: -15rem;
    left: -26rem;
    animation: circleStarAnimate 1.2s 0.6s backwards;
    -webkit-animation: circleStarAnimate 1.2s 0.6s backwards;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
}
.js_circle_star2{
    top: 62rem;
    left: -9rem;
    animation: circleStarAnimate 0.6s 1.2s backwards;
    -webkit-animation: circleStarAnimate 0.6s 1.2s backwards;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
}
.js_circle_star3{
    top: -15rem;
    left: 12rem;
    animation: circleStarAnimate 1.6s 2.2s backwards;
    -webkit-animation: circleStarAnimate 1.6s 2.2s backwards;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
}
.js_circle_star4{
    top: 32rem;
    left: 26rem;
    animation: circleStarAnimate 2.4s 0.6s backwards;
    -webkit-animation: circleStarAnimate 2.4s 0.6s backwards;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes circleStarAnimate {
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(5);
    }
    100%{
        transform: scale(2);
    }
}
@-webkit-keyframes circleStarAnimate {
    0%{
        -webkit-transform: scale(1);
    }
    50%{
        -webkit-transform: scale(5);
    }
    100%{
        -webkit-transform: scale(2);
    }
}


/* 向下的箭头 */
.arrow-down{
    position: fixed;
    z-index: 20;
    width: 3%;
    bottom: 4rem;
    left: 48%;
}

/* 右上角播放按键icon */
.audio-img{
    position: fixed;
    z-index: 20;
    width: 5rem;
    height: 4.8rem;
    top: 2.2rem;
    left: 87%;
    /*border: 2px solid pink;*/
    background-image: url("../images/music-bg.png");
    background-position: 0% 0%;
    background-repeat: no-repeat;
}
.audio-img-hide{
    background-position: 110% 0%;
}
.line-span{
    display: none;
    position: fixed;
    z-index: 20;
    width: 12%;
    top: 4.9rem;
    left: 85%;
    border: 0.1rem solid #eee;
    -webkit-transform: rotate(-45deg);
}




